/* whole new css lol */
:root{
    -grey-yellow: #291d16;
}
.center{
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
}
.form-container{
    position: relative;
    margin: auto;
    z-index: 10;
    color: white;
    background-color: var(-grey-yellow);
    max-width: 450px;
}
.form-container .group{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}
.form-container label{
    margin-bottom: 6px;
}
.form-container .wrong-input{
    color: red;
    margin: 2px 0;
    font-size: 14px;
}
.form-container input{
    padding: 8px 20px;
    width: 250px;
    border: none;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.form-container input:focus{
    outline: none;
}
.form-container .submit{
    display: flex;
    justify-content: center;
    margin: 15px 0px 25px 0px;
}
